div.pad{
	padding-top: 1cm;
	padding-bottom: 1cm;
}
img {
	max-width: 100%;
}
div.card{
	height:auto;
	min-height: 10%;
}
div.img img{
	display: inline;
	margin: 5px;
	float: left;
}
div.img a:hover img {
	border: 1px solid #b0bec5;
}
p.invis{
	color: #e0e0e0;
}